$backgroundDark :  #131518;
$borderDark: #000000;
$backgroundLight: #eceff4;
$borderLight: #d8dee9;

.cell {
    width: 100%;
    height: 100%;
    background:$backgroundDark;
    top: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.resize-vertical {
    position: absolute;
    width: 1px;
    background-color: $borderDark;
    height: 100%;
    pointer-events: stroke;
    cursor: col-resize;
    z-index: 1;
}

.left {
    left: 0px;
}

.right{
    right: 0px;
}

.resize-horizontal {
    width: 100%;
    background: transparent;
    height: 5px;
    pointer-events: stroke;
    cursor: row-resize;
}

.top {
    top: 0px
}

.bottom {
    bottom: 0px;
}