.group-header{
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10px;
    font-weight: 700;
    background: rgba(83, 88, 93, 0.144);
    color: #42b4d6;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
}
.group{
    background: #111111;
    border-radius: 5px;
}